.bg-green {
  background-color: #81c408;
}

.topbar {
  padding: 20px;
  border-radius: 230px 100px;
}
.text-color {
  color: #81c408 !important;
}


.green:hover{
     color: #81c408 !important;
  
}

.text-yellow{
     color: yellow;
     margin-right: 5px;
}

.topbar .top-info {
     font-size: 15px;
     line-height: 0;
     letter-spacing: 1px;
     display: flex;
     align-items: center;
 }

 .topbar .top-link {
     font-size: 15px;
     line-height: 0;
     letter-spacing: 1px;
     display: flex;
     align-items: center;
 }

 .navbar {
     height: 100px;
     border-bottom: 1px solid rgba(255, 255, 255, .1);
 }


 .navbar .navbar-nav .nav-link {
     padding: 10px 15px;
     font-size: 18px;
     transition: .5s;
 }

 .btn-md-square {
  width: 44px;
  height: 44px;
}

.border-secondary {
  border-color: #ffb524 !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}